{% extends 'base.html' %}

{% block title %}Book details{% endblock %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <div>
        <ul>
            {% if book.authors.all|length == 1 %}
                <li>Autor: {{ book.authors.first }}</li>
            {% else %}
                <li>Autorzy:</li>
                {% for author in book.authors.all %}
                    {{ author.name }}<br>
                {% endfor %}
            {% endif %}


            <li>Rok wydania: {{ book.publication_year }}</li>
            <li>Opis: {{ book.description }}</li>

        </ul>
    </div>
    {% if book.cover %}
        <div>
            <img src="{{ book.cover.url }}" class="img-thumbnail" alt="image">
        </div>
    {% endif %}


{% endblock %}